<% #TODO add paging support %>
<div class="well well-small">
  <div class="media">
    <a href="<%= ad_path(ad) %>">
      <%= image_tag ad.image ,:class=>"media-object pull-left thumbnail",:style => "max-height:100px; margin-right:5px" %>
    </a>
    <div class="media-body">
      <h3 class="media-heading"> <%= ad.title %> </h3>
      <p> <%= ad.price %> </p>
      <% if edit_button then %>
          <div class="btn-group pull-right">
            <%= link_to "editar", edit_ad_path(ad),:class=>"btn"  %>
            <%= link_to "agregar imagenes", new_ad_image_path(ad),:class=>"btn"  %>
          </div>

      <% end %>
      <p class="label label-info"> <%= ad.category.name %></p>
    </div>
  </div>
</div>
