<div class="well well-small">
  <div class="media">
    <a href="<%= ad_path(ad) %>">
      <%= image_tag ad.image ,:class=>"media-object pull-left thumbnail",:style => "max-height:100px; margin-right:5px" %>
    </a>
    <div class="media-body">
      <h3 class="media-heading"> <%= ad.title %> </h3>
      <p> <%= ad.price %> </p>
      <p class="label label-info"> <%= ad.category.name %></p>
    </div>
  </div>
</div>
