<% #TODO add paging support %>
<div class="well well-small">
  <div class="media">
    <a href="<%= ad_path(ad) %>">
      <%= image_tag ad.image ,:class=>"media-object pull-left thumbnail",:style => "max-height:100px; margin-right:5px" %>
    </a>
    <div class="media-body">
      <h3 class="media-heading">
        <%= link_to ad.title, ad %>
      </h3>
      <p> <%= number_to_currency(ad.price) %> </p>
      <% if edit_button then %>
          <div class="btn-group pull-right">
            <%= link_to  ad,:confirm=>"Estas seguro que deseas remover tu anuncio?",:method=>:delete, :class=>"btn" do %>
                <i class="icon-trash"></i> remover
            <% end %>
            <%= link_to edit_ad_path(ad),:class=>"btn" do  %>
                <i class="icon-edit"></i> editar
            <% end %>
            <%= link_to new_ad_image_path(ad),:class=>"btn btn-success" do %>
                <i class="icon-camera"></i> agregar imagenes
            <%end %>
          </div>

      <% end %>
      <p class="label label-info"> <%= ad.category.name %></p>
    </div>
  </div>
</div>
