<div class="row">
  <div class="span12">



    <%= form_for @ad,:html=>{:class=>"form-horizontal" } do |f| %>
        <% if @ad.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

              <ul>
                <% @ad.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>


        <div class="control-group">
          <%= f.label :title,"Titulo ",:class=>"control-label" %>
          <div class="controls">
            <%= f.text_field :title, :placeholder=>"ingresa un título",:class=>"input-xxlarge" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :description, "Descripción" ,:class=>"control-label"%>
          <div class="controls">
            <%= f.text_area :description,:size=>"5x5" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :image,"Imagen",:class=>"control-label" %>
          <div class="controls">
            <%= f.hidden_field :image %>
            <div id="loading-bar" class="progress progress-striped active input-large">
              <div class="bar" style="width: 100%;"></div>
            </div>
          </div>

          <div id="results"></div>
        </div>
        <div class="control-group">
          <%= f.label :price,"Precio",:class=>"control-label" %>
          <div class="controls">
            <%= f.text_field :price %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :category,"Categoría" ,:class=>"control-label"%>
          <div class="controls">
            <input name="category" autocomplete="off" type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="<%= @topCategories %>">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Publicar",:class=>"btn btn-primary" %>
          </div>
        </div>
    <% end %>

  </div>

</div>


<script>
    $('#loading-bar').hide();
    $('#ad_title').bind('change',function(){
        var data = {query: $('#ad_title').val() }
        $('#results').empty();
        $('#loading-bar').show();
        $.getJSON('/get_images', data, function(obj)
        {
            $('#loading-bar').hide();
            if (obj.d !== undefined)
            {
                $('#results').append(document.createElement('br'));
                var items = obj.d.results;
                for (var k = 0, len = items.length; k < len; k++)
                {
                    var item = items[k];
                    showImageResult(item);
                }
                $('.img-rounded').click(data,function(){
                    $('.img-rounded').removeClass('selected');
                    $(this).addClass('selected');
                    var src=$(this).attr('src')
                    $('#ad_image').val(src)
                });
            }
        });
    });



    // Shows one item of Image result.

    function showImageResult(item)
    {
        var a = document.createElement('a');
        a.href = item.MediaUrl;
        // Create an image element and set its source to the thumbnail.
        var i = document.createElement('img');
        i.src = item.Thumbnail.MediaUrl;
        // Make the object that the user clicks the thumbnail image.
        $(i).addClass("img-rounded");
        $(a).append(i);
        // Append the anchor tag and paragraph with the title to the results div.
        $('#results').append(i);
    }

</script>