<div class="row hero-unit">

  <div class="container">
    <div class="span8 offset2 " id="search-panel">
      <%= form_tag "/search",:method=>"GET" , :class=> "search-box" do %>

          <h1>Busca un anuncio</h1>
          <p class="muted">Busca anuncios de libros, calculadoras, monitor&iacute;as, etc.</p>
          <div class="input-append">
            <%= text_field_tag :query, nil, :class=>"input-xxlarge",:placeholder=>"buscar"  %>
            <button id="search" class="btn btn-primary"> buscar!</button>
          </div>


      <% end %>

    </div>
  </div>

</div>

<div class="container">
  <% unless @ads %>
      <div class="row">
        <% @categories.each_with_index do |c,i| %>
            <% ad = c.ads.last %>
            <div class="span3">
              <div class="category-preview">
                <h4><%= link_to c.name, c %></h4>
                <%= image_tag ad.image %>
                <p>
                  <b><%= ad.title %></b>
                  <small><%= ad.description[0..50] << '...' %></small>
                </p>
                <%= link_to "más", c %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
  <% if @ads%>
    <% if @ads.size == 0 %>
        <h2>Lo sentimos, no hemos encontrados resultados para "<span class="muted"><%= request.params[:query] %></span>"</h2>
        <h4>Tal vez querrías</h4>
          <ul>
            <li> ¿<%= link_to "Crear un anuncio", new_ad_path %>? </li>
            <li> ¿Preguntarle a tus amigos? </li>
          </ul>
    <% else %>
          <div class="row">
            <div class="offset1 span10" >
              <h4>Resultados para "<span class="muted"><%= request.params[:query] %></span>"</h4>

              <ul class="nav nav-tabs nav-stacked ads-thumbnail">
                <% @ads.each do |ad| %>
                    <%= render_ad ad %>
                <% end %>
              </ul>
            </div>
          </div>

          <script>

              $('.hero-unit').animate({ paddingTop: 10, paddingBottom:10},500);
              $(".search-box").animate({ marginTop: 10, marginBottom:10},500);

          </script>
    <% end %>
  <% else %>
      <fb:like href="http://clasificados.uniandes.edu.co" send="true"  show_faces="true"></fb:like>
      <%= render "layouts/footer" %>
  <% end %>


</div>