<div class="row hero-unit">

  <div class="container">
    <div class="span8 offset2 " id="search-panel">
      <%= form_tag "/search",:method=>"GET" , :class=> "search-box" do %>

          <h1>Busca un anuncio</h1>
          <p class="muted">Busca anuncios de libros, calculadoras, monitorias, etc.</p>
          <div class="input-append">
            <%= text_field_tag :query, nil, :class=>"input-xxlarge",:placeholder=>"buscar"  %>
            <button id="search" class="btn btn-primary"> buscar!</button>
          </div>


      <% end %>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="span4">

    </div>
  </div>
  <% if @ads then%>

      <div class="row">
        <h4>Resultados para "<span class="muted"><%= request.params[:query] %></span>"</h4>
        <% @ads.each do |ad| %>
            <%= render_ad ad %>
        <% end %>
      </div>

      <script>

          $('.hero-unit').animate({ paddingTop: 10, paddingBottom:10},500);
          $(".search-box").animate({ marginTop: 10, marginBottom:10},500);

      </script>
  <% else %>
      <fb:like href="http://clasificados.uniandes.edu.co" send="true" width="450" show_faces="false"></fb:like>
      <%= render "layouts/footer" %>
  <% end %>


</div>