<div class="container">
  <br>
  <div class="row">

    <div class="span4">
      <div >
        <%= image_tag @ad.image,:class=> "center-image" %>
      </div>
      <% if @ad.images.size <= 0 && @is_owner %>
          <%= link_to new_ad_image_path(@ad),:class=>"btn btn-success" do %>
              <i class="icon-camera"></i> agregar imagenes
          <%end %>
      <% end %>
      <% @ad.images.each do |i|  %>

          <%= render_modal_link i.id do %>
              <%= image_tag "/#{i.url}" %>
          <% end %>
          <%= render_modal @ad.title, i.id do %>
              <%= image_tag "/#{i.url}", :style=>"margin-left:auto;margin-right:auto;" %>
              <p><%= i.title %></p>
          <% end  %>
      <% end %>
    </div>
    <div class="span8">
      <h2><%= @ad.title %></h2>

      <p>
        <b>Descripcion:</b>
        <%= @ad.description %>
      </p>
      <%= render :partial => "ads/publicado_hace",:locals => {:ad => @ad} %>
      <span class="badge badge-warning"><%= number_to_currency(@ad.price) %></span>
      <p class="label label-info">
        <i class="icon-tag"></i><%= @ad.category.name %>
      </p>
      <br>
      <% if @is_owner == false then %>
          <%= render_modal_link "contact_modal","btn btn-primary" do %>
              <i class="icon-envelope"></i> Contactar anunciante
          <% end %>
      <% end %>

      <%= render_modal "Contacto", "contact_modal" do %>
        <p>¿Estas interesado en el anuncio? Envíale un mensaje al dueño</p>

          <div class="input-append">
            <input class="span4" id="appendedInputButton" type="text">
            <button id="btnSend" class="btn" type="button" data-dismiss="modal">enviar</button>
          </div>

      <% end %>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span12">
      <%= render_standard_like("http://clasificados.uniandes.edu.co"<<ad_path(@ad)) %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span12" >
      <%= render_comments("http://clasificados.uniandes.edu.co"<<ad_path(@ad)) %>
      <%#= render_disqus (request.fullpath) %>
    </div>
  </div>
  <%= link_to 'Back', "/" %>

</div>

<script>

    $('#btnSend').click(function(){
        var text = $('#appendedInputButton').val();
        $.post("send_email",{message: text, id: <%=@ad.id %>}, function(res){
            alert(res);
        });
    });
</script>