<div class="container">
  <br>
  <div class="row">

    <div class="span4">
      <%= image_tag @ad.image,:class=> "thumbnail" %>
      <% @ad.images.each do |i|  %>

        <%= render_modal_link i.id do %>
          <%= image_tag "/#{i.url}" %>
        <% end %>
        <%= render_modal @ad.title, i.id do %>
            <%= image_tag "/#{i.url}", :style=>"margin-left:auto;margin-right:auto;" %>
            <p><%= i.title %></p>
        <% end  %>
      <% end %>
    </div>
    <div class="span8">
      <h2><%= @ad.title %></h2>

      <p>
        <b>Descripcion:</b>
        <%= @ad.description %>
      </p>

      <p>
        <b>Precio:</b>
        <span class="badge badge-warning">$<%= @ad.price %></span>

      </p>
      <p><%= render_simple_modal("Contactar anunciante","Contactar", "Para contactar al anunciante envíale un correo a: #{@ad.user.email}") %></p>


      <p class="label label-info">
        <i class="icon-tag"></i><%= @ad.category.name %>
      </p>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="span8 offset2" >
      <%= render_disqus (request.fullpath) %>
    </div>
  </div>
  <%= link_to 'Back', "/" %>

</div>