<h4>Links de interés</h4>
<ul class="nav nav-tabs nav-stacked">

  <li>
    <%= link_to ads_path do  %>
        <i class="icon-time"></i> anuncios recientes
    <% end %>
  </li>
  <li>
    <%= link_to ads_path do  %>
        <i class="icon-pencil"></i> publica un anuncio
    <% end %>
  </li>
  <li>
    <%= link_to ads_path do  %>
        <i class="icon-book"></i> Mis anuncios
    <% end %>
  </li>
  <li>
    <%= link_to ads_path do  %>
        <i class="icon-home"></i> Inicio
    <% end %>
  </li>
  <li >
    <%= link_to "Sugerencias", "domkee.uservoice.com" %>
  </li>

</ul>

