<%= render_header @category.name, "Anuncios marcados dentro de esta categoria", "icon-tag" %>

<div class="container">

  <% if @ads.size > 0 %>
      <ul class="nav nav-tabs nav-stacked ads-thumbnail">
        <% @ads.each do |ad| %>
            <%= render_ad ad %>
        <% end  %>
      </ul>
      <%= will_paginate @ads %>
  <% else %>
      <h1>Lo sentimos</h1>
      <p>No tenemos anuncios dentro de esta categoría todavía</p>
      <p>¿Por qué no <%= link_to "publicas un anuncio", new_ad_path %> ?</p>
      <p>¿Por qué no <%= link_to "le preguntas a algún amigo", "#" %>?</p>
  <% end %>
</div>