<footer class="alt-footer">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h4><i class="icon-heart icon-large"></i>  &nbsp; &nbsp;Nuestros amigos</h4>

        <p><%= link_to "ACM - Uniandes", "http://acm.uniandes.edu.co/" ,:target=>"_blank" %> </p>
        <p><%= link_to "YouNoodle", "http://younoodle.com",:target=>"_blank" %> </p>
        <p><%= link_to "Sistemas - Uniandes", "http://sistemas.uniandes.edu.co",:target=>"_blank" %></p>
      </div>
      <div class="span4">
        <h4> <i class="icon-flag icon-large"></i>  &nbsp; &nbsp;Otros proyectos de ACM </h4>
        <p><%= link_to "HorarioLab", "http://horario.uniandes.edu.co",:target=>"_blank" %> </p>
        <p><%= link_to "StartupCriollo", "http://acm.uniandes.edu.co/startupcriollo",:target=>"_blank" %> </p>
        <p><%= link_to "Woojah", "http://woojah.com",:target=>"_blank" %> </p>
        <p><%= link_to "Fundación Futuros Valores", "#" %></p>
      </div>
      <div class="span2">
        &nbsp;
      </div>
      <div class="span3">
        <h4> <i class="icon-thumbs-up icon-large"></i> &nbsp; &nbsp;Social Media</h4>
        <p>
          <%= link_to "http://facebook.com/ACMUniandes",:target=>"_blank" do %>
              <i class="icon-facebook-sign"></i> Facebook
          <% end %>
        </p>
        <p>
          <%= link_to "http://twitter.com/ACMUniandes",:target=>"_blank" do %>
              <i class="icon-twitter"></i> Twitter
          <% end %>
        </p>
      </div>

    </div>
    <div class="row">
      <div class="span4 alt-footer-copy">
        <p>
          <%= link_to "http://kopimi.com" do %>
              <%=  image_tag "kopimi.gif" %> Clasifiteca 2013
          <% end %>
        </p>
      </div>

    </div>
  </div>

</footer>