<!DOCTYPE html>
<html>
<head>
  <title>Libros</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "widgets/fb/load_api" %>
<%= render "layouts/navbar" %>

<div class="container" style="margin-top: 55px;">
  <%= yield %>
</div>

<%= render_uservoice %>

</body>
</html>
