<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <%h title = yield(:title) %>

  <title> <%= if title then title else "Clasifiteca | La comunidad Uniandina para intercambio de materiales universitarios" end  %> </title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Clasifiteca | La comunidad Uniandina para intercambio de materiales universitarios"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<%= render_fb_load_api %>
<%= render "layouts/navbar" %>

<div style="margin-top: 40px;">
  <%= render "layouts/alerts" %>
  <%= yield %>

</div>
<div>
  <%= render "layouts/alt_footer" %>
</div>
<%= render_uservoice %>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39729680-1', 'uniandes.edu.co');
    ga('send', 'pageview');

</script>
</body>
</html>
