<!DOCTYPE html>
<html>
<head>
  <title>DOMKEE | La comunidad Uniandina para intercambio de materiales universitarios</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render_fb_load_api %>
<%= render "layouts/navbar" %>

<div style="margin-top: 40px;">
  <%= render "layouts/alerts" %>
  <%= yield %>
</div>

<%= render_uservoice %>

</body>
</html>
